/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styles */

* {
        /* Makes all the elements go right to the edges by default */
    margin: 0%;

}

body {
    color:#372C57;
}

/* Header */

header {
    background-color: #71B2B5;
}

header h1 {
    padding-left: 0.5em;
}

#home-page-title {
    text-decoration: none;
}

nav {
    background-color: #E3705F;
    text-align: right;
    font-family: 'Roboto Slab', serif;

}

nav summary {
    padding-right: 1em;
}

#nav-menu {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #372C57;
    padding: 10% 1em 10% 0;

}

h1 {
    font-family: 'Roboto Slab', serif;
    color:#372C57;
}

/* Main */

main {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

#nigel-smile {
    max-width: 100%;
    height:auto;
    border-radius: 5%;
}

/* Footer */

footer {
    background-color: #71B2B5;
}