/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styles */

* {
    /* Makes all the elements go right to the edges by default */
    margin: 0%;

}

body {
    color: #372C57;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

header {
    background-color: #71B2B5;
}

header h1 {
    padding: 0.5em;
    font-size: 280%;
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: #372C57;
}

/* Removes hyperlink underline from site title */
header a {
    text-decoration: none;
}

nav {
    background-color: #E3705F;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

nav a {
    text-decoration: none;
    color: #372C57;
    margin: 0.5em;
    flex-basis: content;
}

nav a:hover {
    text-decoration: underline;
}

.current-page {
    border-style: hidden hidden dotted hidden;
    border-width: 4px;
    border-color: #372C57;
}

/* Homepage */

main {
    background-color: #E6DFD8;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#nigel-smile {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    padding: 2px;
    margin: 0.25em 0 0.5em 0;
}

#intro-text,
#details-intro-text {
    padding: 1.5em;
}

hr {
    border: 3px solid #E3705F;
    border-radius: 50%;
    margin: 5px;
}

main section {
    margin: 20px;
}

/* Next two selectors make iframe video responsive */

#axe-video-div {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

#axe-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

#bar-image {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    padding: 2px;
    margin-top: 8px;
}

section h3 {
    padding: 1em 0;
}

#intro-section {
    margin-bottom: 0;
}

#axe-bar-section {
    margin-top: 0;
}

iframe {
    border: 0;
}

/* Details Page Main */

#when-where {
    margin-bottom: 0;
}

table,
td {
    border: 2px solid #E6DFD8;
    border-collapse: collapse;
    background-color: rgba(227, 112, 95, 0.35);
    padding: 1em;
    text-align: left;
}

th {
    border: 2px solid #E6DFD8;
    border-collapse: collapse;
    background-color: rgba(113, 178, 181, 0.8);
    padding: 0.75em;
    text-align: left;
    font-size: 110%;
}

#details-table {
    display: flex;
    justify-content: center;
}

iframe {
    border-top: 3px solid #71B2B5;
    border-bottom: 3px solid #71B2B5;
}

h2 {
    padding-bottom: 1em;
}

/* RSVP Page Main */

#bottles-bar {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

#rsvp-image-div {
    display: flex;
    justify-content: center;
}

/* Block of text on image*/

#text-block {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

#text-block h1 {
    font-size: 30vw;
    color: #71B2B5;
    padding: 20px;
}

/* Form Styling */

#form-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

form {
    border: 2px solid #71B2B5;
    border-radius: 10px;
    padding: 1em;
    line-height: 2;
    background-color: #f7f5f3;
}

input[type=text] {
    width: 100%;
    background-color: #f7f5f3;
    border: 1px dashed #E3705F;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type=checkbox],
input[type=radio] {
    margin-left: 3em;
}

input[type=submit] {
    background-color: #b1d5d6;
    border: none;
    border-radius: 5px;
    color: #372C57;
    padding: 15px 30px;
    font-size: 130%;
}

input[type=submit]:active {
    background-color: #71B2B5;
}

input[type=submit]:hover {
    background-color: #a0cbcd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit-button {
    text-align: center;
}

/* Form Submit Page */

#form-submission {
    display: flex;
    flex-direction: column;
}

#thanks-image {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    padding: 2px;
    margin: 0.25em 0 0.5em 0;
}

#thanks-message {
    padding: 1.5em;
    text-align: center;
    /* flex-grow: 1; */
}

/* 404 page */

#not-found {
   padding: 2em;
   border: 3px solid #E3705F;
   border-radius: 10px;
   text-align: center;
}

/* Footer */

#footer-text {
    background-color: #71B2B5;
    color: #372C57;
    font-family: 'roboto', sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    align-items: center;
    flex-wrap: wrap;
    font-size: 110%;
    line-height: 1.5;

}

footer a {
    color: #372C57;
    font-size: 150%;
    padding: 3px;
}

/* Media query for small devices (767px and down) as per W3 Schools Typical Device Breakpoints */
@media only screen and (max-width: 767px) {
    h3 {
        font-size: medium;
    }

    form {
        width: 90%;
    }
}



/* Media query for medium devices (768px and up) as per W3 Schools Typical Device Breakpoints */
@media only screen and (min-width: 768px) {
    nav {
        justify-content: right;
        padding-right: 1em;
    }

    form {
        width: 50%;
    }
}

/* Media query for large devices (992px and up) as per W3 Schools Typical Device Breakpoints */
@media only screen and (min-width: 992px) {
    nav a {
        font-size: 120%;
    }

    #intro-section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    main div {
        padding: 50px;
    }

    #text-block,
    #rsvp-image-div {
        padding: 0;
    }

    #intro-text {
        align-self: center;
        border-left: 3px solid #71B2B5;
        border-top: 3px solid #E3705F;
    }

    body {
        font-size: 18px;
    }

    hr {
        display: none;
    }

    #intro-image-div {
        width: 100%;
        height: auto;
    }

    #axe-bar-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #activity-details {
        border-top: 3px solid #71B2B5;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        align-content: baseline;
    }

    #activity-details>div {
        flex-grow: 1;
    }

    #bar-details {
        border-left: 3px solid #E3705F;
        border-bottom: 3px solid #71B2B5;
        flex-basis: 50%;
    }

    #bar-picture-div {
        padding-top: 0;
    }

    section h3 {
        padding: 0;
    }

    /* Details Page */

    #when-where {
        display: flex;
        flex-direction: row;
        width: 100vh;
        margin: 1em auto;
    }

    .embedded-map {
        height: 450px;
    }

    #details-intro-text {
        border-bottom: 3px solid #E3705F;
        border-right: 3px solid #71B2B5;
        border-left: 3px solid #71B2B5;
        width: 50vh;
        height: fit-content;
    }

    #details-table {
        border-top: 3px solid #E3705F;
        border-right: 3px solid #71B2B5;
        padding: 30px;
    }

    /* RSVP Page */

    #bottles-bar {
        display: none;
    }

    #text-block {
        position: unset;
        text-align: center;
    }

    #text-block h1 {
        font-size: 10vw;
        color: #71B2B5;

    }

    #rsvp-page {
        background-image: url('../images/bottles-on-bar.jpg');
        background-size: cover;
    }

    form {
        width: 33%;
    }

    #form-div {
        justify-content: center;
        padding-top: 0;
        margin-top: 0;
    }

    /* Form Submission Page */

    #thanks-message {
        border-top: 3px solid #71B2B5;
        border-left: 3px solid #E3705F;
        font-size: 140%;
    }
}