/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styles */

* {
        /* Makes all the elements go right to the edges by default */
    margin: 0%;

}

body {
    color:#372C57;
}

/* Header */

header {
    background-color: #71B2B5;
}

header h1 {
    padding-left: 0.5em;
}

#home-page-title {
    text-decoration: none;
}

nav {
    background-color: #E3705F;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #372C57;
    margin: 0.5em;
    flex-basis: content;
}

h1 {
    font-family: 'Roboto Slab', serif;
    color:#372C57;
}

/* Main */

main {
    background-color: #E6DFD8;
    font-family: 'Roboto', sans-serif;
}

main div {
    padding: 10px;
}

#nigel-smile {
    max-width: 100%;
    height:auto;
    border-radius: 5%;
    padding: 2px;
}

/* Footer */

footer {
    background-color: #71B2B5;
}

/* Media query for medium devices (768px and up) as per W3 Schools Typical Device Breakpoints */
@media only screen and (min-width: 768px) {
nav {
    justify-content: right;
}



}

/* Media query for large devices (992px and up) as per W3 Schools Typical Device Breakpoints */
@media only screen and (min-width: 992px) {
nav a {
    font-size: 130%;
}
}